<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Midland Tech Events</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Style/StyleSheet1.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu+2|Jura&display=swap" rel="stylesheet">
    


</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light p-0">
            <div class="container-fluid px-3">
                <p class="title pt-1 font-weight-bold" style="font-size: 2.2em; color:darkred">Tech Midlands MeetUp</p>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @Html.Partial("_LoginPartial")
                   @* <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link text-dark" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link text-dark" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link text-dark" })
                        </li>
                    </ul>
                       *@
                </div>

    
            </div>
        </nav>

    </header>

   
   
    <div class="container-fluid px-0">
        <img src="https://tech-events-uk.s3.eu-west-2.amazonaws.com/tech3.png" class="img-fluid" style="width:100%; opacity: 0.9" />
        <div class="caption">
            <p class="title" style="font-size: 2.0em">Explore Tech Events</p>
            <h4 class="title" style="font-size: 1.5em">Find tech events hosted by local groups in the Midlands</h4>
        </div>
    </div>
       
       


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top card-footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Mike Wilkins
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    .title {
    font-family: 'Baloo Tammudu 2', cursive;
    font-family: 'Jura', sans-serif;
}
    

</style>